/* GTK 4.0 / LibAdwaita Override for Anthropic Claude Theme */

@define-color accent_color #d97757;
@define-color accent_bg_color #d97757;
@define-color accent_fg_color #faf9f5;

@define-color window_bg_color #141413;
@define-color window_fg_color #faf9f5;

@define-color view_bg_color #141413;
@define-color view_fg_color #faf9f5;

@define-color headerbar_bg_color #141413;
@define-color headerbar_fg_color #faf9f5;
@define-color headerbar_border_color #2a2a29;
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0, 0, 0, 0.07);

@define-color card_bg_color #2a2a29;
@define-color card_fg_color #faf9f5;
@define-color card_shade_color rgba(0, 0, 0, 0.07);

@define-color popover_bg_color #2a2a29;
@define-color popover_fg_color #faf9f5;

@define-color dialog_bg_color #2a2a29;
@define-color dialog_fg_color #faf9f5;

/* Apply to GTK3 as well mostly via variable redef if included in gtk-3.0 folder */
